<?xml version="1.0" encoding="utf-8"?>
<!--
  ~     AndroidChatGPT/AndroidChatGPT.app.main
  ~     AndroidManifest.xml Copyrighted by Yamin Siahmargooei at 2023/12/1
  ~     AndroidManifest.xml Last modified at 2023/4/15
  ~     This file is part of AndroidChatGPT/AndroidChatGPT.app.main.
  ~     Copyright (C) 2023  Yamin Siahmargooei
  ~
  ~     AndroidChatGPT/AndroidChatGPT.app.main is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     AndroidChatGPT/AndroidChatGPT.app.main is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with AndroidChatGPT.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidChatGPT"
        tools:targetApi="tiramisu">
        <activity
            android:name=".content.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|locale|screenLayout|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AndroidChatGPT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

    </application>

</manifest>